.footer {
  padding: 25px 10px;
}

.footer__section {
  color: lightslategrey;
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.footer-section-title {
  padding: 5px 15px;
  font-size: 20px;
  color: initial;
}

.info-block {
  margin-top: 10px;
}

.contact-data-list {
  margin: 0 0 12px;
  font-size: 12px;
  list-style: none;
  padding: 0;
}

.contact-item {
  padding: 0 10px;
}

.contact-item.phone {
  font-size: 16px;
}

.contact-item.phone a {
  display: flex;
  align-items: center;
  color: initial;
}

.info-list {
  font-size: 14px;
  list-style: none;
  padding: 0;
}

.info_link {
  padding: 5px 15px;
  display: inline-block;
  width: 100%;
}
