.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-12 {
  font-size: 12px;
}

.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}


.card-title {
  margin-bottom: .75rem;
  font-size: 16px;
}

.card-subtitle {
  margin-top: -.375rem;
  margin-bottom: 0;
  font-size: 12px;
  opacity: .7;
  font-weight: 400;
}

.form-label {
  font-weight: 600;
  color: #8cbbe9;
}

.form-control:focus {
  background-color: #fff;  
  /* border-color: #f9f9f9; */
  border-color: #8cbbe9;
  outline: 0;
  box-shadow: none;
}

.form-subtext {
  display: block;
  margin: 0;
  padding: 2px 5px;
  color: #b5b5b5;
}

.custom-form-control {
  display: inline-block;
  width: 100%;
  height: calc(2.0625rem + 2px);
  padding: .375rem 1.75rem .375rem .75rem;
  font-size: 14px;
  line-height: 1.5;
  color: #525f7f;
  vertical-align: middle;
  background: #fff;
  background-size: 0 -1px;
  border: 1px solid #e9ecef;
  border-radius: 2px;
  box-shadow: none;
  appearance: none;
}
