body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  min-height: calc(100vh - 305px);
  padding: 25px 0;
  background-color: #f0f4fb;
}

.no-content {
  background-color: white;
  top: 0;
  bottom: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__layout {
  padding: 30px;
  background-color: white;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.alert_default {
  background-color: whitesmoke;
  color: #757575;
  margin: 0;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0.15rem;
}

.icon-spin {
  -webkit-animation: icon-spin 2s infinite linear;
          animation: icon-spin 2s infinite linear;
}

label { margin-bottom: 0 }

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

.font-size-md {
  font-size: 24px;
  line-height: 32px;
}


@media (max-width: 767px) {
  .content__layout { padding: 15px; }
  .hidden-sm { display: none; }
}
