.stat_card {
  height: 110px;
}

.card__stat-title {
  margin-bottom: 5px;
  margin-top: 0;
}

.card__stat-text {
  font-size: 14px;
  line-height: 1.2;
}

.card__stat-icon {
  fill: white;
  width: 60px;
  height: 60px;
}

.product-row>td:not(first-child) {
  text-align: center;
  vertical-align: middle;
}

