.page__top-line {
  margin-bottom: 20px;
}

.page__title {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.breadcrumb {
  background-color: transparent;
  padding: 0;
  margin: 0;
  font-size: 12px;
}


@media (max-width: 767px) {
  .page_info { margin-top: 20px; }
}
