.contact-data_section, .map_section {
  padding: 15px 0;
}

.office-data {
  padding: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 325px;
}

.office-data__block {
  width: 250px;
  padding: 15px 0;
}

.office-data__title {
  color: #007bff;
  opacity: .7;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.office-data__details {
  padding: 2px 7px;
  line-height: 20px;
}

.office-data__details svg {
  margin-right: 5px;
  fill: #17a2bf;
  color: #17a2b8;
  width: 24px !important;
}

.map_section .map-container {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.map_section img {
  max-width: 100%;
  max-height: 100%;
}

.map-caption {
  padding: 10px 0;
  margin: 10px 0 0;
  font-size: 18px;
  color: #757575;
}

.modal-body {
  min-width: 300px;
  width: 50vw;
  max-width: 475px;
}

.order_form {
  font-size: 14px;
  padding: 20px 15px;
}

.order_form--title {
  font-size: 20px;
  margin-bottom: 20px;
  color: #757575;
  border-bottom: 1px solid;
}

.order_form--alert {
  background-color: whitesmoke;
  color: darkgray;
  font-size: 12px;
  line-height: 18px;
}

.form_tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.caution {
  display: flex;
  font-size: 12px;
  min-width: 265px;
  line-height: 16px;
  width: calc(100% - 165px);
  align-items: center;
  color: #9E9E9E;
  flex-grow: 1;
  margin: 0;
  padding: 10px 5px;
}

.caution--icon {
  color: #ffd54f;
  font-size: 1.75em;
}

.order-submit-btn {
  width: 150px;
  margin-left: auto;
}

.form-project-search {
  position: relative;
  padding: 15px;
  border: 2px solid;
}

.form-project-search::before {
    content: "Подобрать проект";
    display: block;
    position: absolute;
    font-size: 20px;
    top: -11px;
    background: white;
    width: 220px;
    text-align: center;
    left: calc(50% - 100px);
}

.form-project-search form {
  padding: 30px 15px;
}

.project-search_btn {
  width: 130px;
  margin-top: 15px;
  margin-bottom: -15px;
}

