.product {
  padding: 25px 30px;
  background-color: white;
}

.product__name {
  font-size: 26px;
}

.product-image {
  padding: 20px 15px;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
}

.product__main-info {
  padding: 10px 15px;
}

.product__properties-list {
  margin: 0;
  padding: 0;
}

.product__property {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px dotted;
  margin: 10px 0;
  opacity: .7;
}

.product__tools {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  height: 100%;
  justify-content: space-around;
  border: 1px solid lightgray;
  border-radius: 4px;
}

@media (max-width: 767px) {
  .product__tools { margin: 20px 0; }
  .product-image { height: auto }
}


@media (max-width: 567px) {

  .product { padding: 15px 10px; }

}
