.shop-catalog {
  margin-top: 20px;
  width: 100%;
  padding: 15px;
  background-color: white;
  position: relative;
  list-style: none;
}

.shop-catalog.show {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 325px;
}

.shop-category a {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  color: #455A64;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.5px;
}