.product-card {
  margin-bottom: 15px;
  border-radius: 4px;
  color: #455A64;
  letter-spacing: -0.5px;
  text-align: center;
  background-color: white;
}

.product-card:hover {
  box-shadow: 0 0 40px 0 rgba(0,0,0,0.1);
}

.product__marks {
  height: 30px;
  padding: 10px 15px 0;
  font-size: 12px;
  font-weight: 600;
}

.discount {
  padding: 0px 10px;
  background-color: #E91E63;
  color: white;
  float: left;
  border-radius: 3px;
}

.hit {
  padding: 0px 10px;
  background-color: #16c73c;
  color: white;
  float: left;
  border-radius: 3px;
}

.image {
  height: 120px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
}

.product__brand {
  margin: 10px 0 0;
  opacity: .7;
}

.product__title {
  height: 40px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-weight: 600;
  line-height: 18px;
  font-size: 13px;
  /* color: darkslateblue; */
}

.card-tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 15px;
  border-top: 1px solid whitesmoke;
}

.product__quantity {
  font-size: 12px;
  /* color: lightgrey; */
  opacity: .5;
  text-align: center;
  padding: 0 10px;
}

.product__price {
  display: flex;
  flex-direction: column;
  line-height: 1;
}

.price {
  font-weight: 600;
  font-size: 16px;
  /* letter-spacing: -1px; */
  font-family: 'OpenSansBold';
}

.price_new {
  color: #e33;
}

.price_old {
  color: #CECECE;
  text-decoration: line-through;
  margin-right: 6px;
  font-size: 12px;
  font-family: 'OpenSansRegular';
}

.btn_buy {
  padding: 5px 10px;
  /* background-color: #00b366; */
  background-color: #2971f5;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.btn_buy svg {
  font-size: 16px;
  margin-right: 5px;
}

.btn_buy:hover {
  background: #4f5f6f;
  text-decoration: none;
  color: #fff;
}
