*,
*:before,
*:after {
	box-sizing: border-box;
}

/* body {
	padding: 1em;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #b9b9b9;
	background-color: #e3e3e3;
} */

.product-form__caption {
  /* color: #7ed321; */
  background-color: #f9f9f9;
	text-align: center;
	padding: 15px;
	margin-bottom: 30px;
}

.product-form__sidebar {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px 25px;
}

.product-form__img-wrapper {
	position: relative;
	padding: 15px;
	width: 100%;
	height: 225px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 25px;
}

.select {
	border: none !important;
    height: 30px;
    font-size: 14px;
    padding: 10px 15px;
}

.product-form__section-title {
	margin: 30px 0;
	padding: 5px 12px;
	text-align: center;
	background-color: #8cbbe9;
	color: white;
}

input,
input[type="radio"] + label,
input[type="checkbox"] + label:before,
select option,
select {
	width: 100%;
	padding: .7em;
	line-height: 1.4;
	background-color: #f9f9f9;
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	transition: all 0.35s ease-in-out;
}

/* input:focus {
	outline: 0;
	border-color: #64ac15;
}

input:focus + .input-icon i {
	color: #7ed321;
}

input:focus + .input-icon:after {
	border-right-color: #7ed321;
} */

input[type="radio"] {
	display: none;
}

input[type="radio"] + label,
select {
	display: inline-block;
	width: 50%;
	text-align: center;
	float: left;
	border-radius: 0;
}

input[type="radio"] + label:first-of-type {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

input[type="radio"] + label:last-of-type {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

input[type="radio"] + label i {
	padding-right: 0.4em;
}

/* input[type="radio"]:checked + label,
input:checked + label:before,
select:focus,
select:active {
	background-color: #7ed321;
	color: #fff;
	border-color: #64ac15;
} */

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	position: relative;
	display: block;
	padding-left: 1.6em;
}

input[type="checkbox"] + label:before {
	position: absolute;
	top: 0.2em;
	left: 0;
	display: block;
	width: 1em;
	height: 1em;
	padding: 0;
	content: "";
}

input[type="checkbox"] + label:after {
	position: absolute;
	top: 0.45em;
	left: 0.2em;
	font-size: 0.8em;
	color: #fff;
	opacity: 0;
	font-family: FontAwesome;
	content: "\f00c";
}

input:checked + label:after {
	opacity: 1;
}

select {
	height: 3.4em;
	line-height: 2;
}

select:first-of-type {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

select:last-of-type {
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

select:focus,
select:active {
	outline: 0;
}

/* select option {
	background-color: #7ed321;
	color: #fff;
} */

.input-group {
	margin-bottom: 1em;
	zoom: 1;
}

.input-group:before,
.input-group:after {
	content: "";
	display: table;
}

.input-group:after {
	clear: both;
}

.input-group-icon {
	position: relative;
}

.input-group-icon .form-label {
	font-weight: 600;
}

.form-control {
	height: 3.2em;
	font-size: 0.8rem;
	background-color: #f9f9f9;
	border-color: #f9f9f9;
	border-radius: 0;
		
}

.input-group-icon .form-control {
	padding-left: 3.8rem;		
}

.input-group-icon .form-control::placeholder {
	opacity: .5;
}

.input-group-icon .input-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	width: 3.4em;
	height: 2.9em;
	line-height: 2.7em;
	text-align: center;
	pointer-events: none;
}

.input-group-icon .input-icon:after {
	position: absolute;
	top: 0.5em;
	bottom: 0.5em;
	left: 3.4em;
	display: block;
	border-right: 1px solid #e5e5e5;
	content: "";
	transition: all 0.35s ease-in-out;
}

.input-group-icon .input-icon i {
	transition: all 0.35s ease-in-out;
}

.product-form-wrapper {
  width: 100%;
	padding: 2em 3em 2em 3em;
	margin: 0em auto;
	background-color: #fff;
	border-radius: 4.2px;
	box-shadow: 0px 3px 10px -2px rgba(0, 0, 0, 0.2);
}

/* .row {
	zoom: 1;
}

.row:before,
.row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
} */

.col-half {
	padding-right: 10px;
	float: left;
	width: 50%;
}

.col-half:last-of-type {
	padding-right: 0;
}

.col-third {
	padding-right: 10px;
	float: left;
	width: 33.33333333%;
}

.col-third:last-of-type {
	padding-right: 0;
}

@media only screen and (max-width: 540px) {
	.col-half {
		width: 100%;
		padding-right: 0;
	}
}