.navbar-light {
  border-top: 1px solid whitesmoke;
}

.nav-line {
  justify-content: space-between;
}

.nav-item {
  padding: 0 15px;
}

.main-menu_item {
  font-weight: 600;
}

.contact-info {
  width: 200px;
  padding: 5px 15px;
  margin: 0 10px;
}

.nav-text {
  line-height: 1;
  font-size: 16px;
  font-weight: bold;
  display: flex;
}

.callback {
  /* margin-top: -5px; */
  padding: 0 15px;
  display: flex;
  justify-content: center;
}

.shop-basket {
  width: 125px;
  padding: 5px 15px;
}

.basket-icon {
  width: 50px;
  height: 22px;
  fill: #7f7f7f;
}

.btn-shop-basket {
  display: inline-flex;
  position: relative;
  color: #7f7f7f;
  align-items: center;
}

.basket-price {
  width: 100%;
  font-size: 14px;
  text-align: center;
}

.basket-badge {
  height: 16px;
  width: 16px;
  font-size: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: coral;
  color: white;
  position: absolute;
  border-radius: 50%;
  top: -5px;
  left: 16px;
}


@media (max-width: 767px) {

  .shop-basket { 
    width: auto;
    text-align: right; 
  }

  .basket-price { display: none }

  .basket-badge {
    left: auto;
    right: 8px;
  }

}
