.product-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-quantity__control {
  display: flex;
  flex-direction: column;
}

.product-quantity__value {
  width: 40px;
  text-align: center;
  margin: 0 5px;
  font-size: 15px;
  padding: 5px;
}

.btn_quantity {
  font-size: 10px;
  background-color: cornsilk;
  display: inline-flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
  padding: 2px;
  border: 1px solid grey;
  margin: 1px;
}