.callback_link {
  font-size: 12px;
  color: #6c757d;
}

.callback-form {
  width: 230px;
  padding: 10px 15px;
}

.form-title {
  font-size: 18px;
  font-weight: bold;
}

.callback_warning {
  margin: 0;
  font-size: 12px;
}

.callback_dropdown {
  left: 50% !important;
}
