.empty-cart {
    position: fixed;
    top: 70px;
    bottom: 240px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empty-cart__alert {
  width: 600px;
  height: 250px;
  background-color: white;
  max-width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  flex-direction: column;
}


.shopping-cart {
  background-color: white;
  padding: 30px;
  margin-bottom: 15px;
}

.cart-item {
  vertical-align: middle;
  color: #212529;
  font-size: 16px;
}

.cart-item td, .cart-item th {
  vertical-align: middle;
  border: none;
  text-align: center;
}

.cart__product-info img {
  width: 50px;
  max-height: 100%;
}

.product-info_row {
  align-items: center;
}

.prod_links {
  padding: 0 15px;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cart-product__title {
  font-size: 16px;
  padding: 0 15px;
  color: inherit;
}

.btn_remove, .btn_remove svg {
  font-size: 12px;
  color: #FF5722;
  fill: #FF5722;
}

.cart-product__price-sum {
  font-weight: bold;
}

.shopping-cart__details {
  background-color: white;
  padding: 30px;
}

.cart-details__title {
  font-size: 18px;
  padding: 10px 15px;
  font-weight: bold;
  text-align: center;
}

.cart-details__list {
  padding: 0;
  list-style: none;
}

.cart-details__line {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}

/* .cart-details__line:not(:first-child) {
  border-top: 1px dotted;
} */

.cart-details__line.cart_total {
  border-top: 2px solid;
  margin-top: 5px;
  padding: 15px;
  font-size: 1.2em;
  justify-content: flex-end;
  font-weight: bold;
}

.cart-details__value {
  display: inline-flex;
  align-items: center;
  font-weight: bold;
}

.cart-details__value select {
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 3px;
  color: rgba(46, 61, 78, 0.85);
  border-color: rgba(46, 61, 78, 0.85);
}

.cart_alert {
  color: #3d5c75;
  background-color: rgba(0, 123, 255, 0.05);
  border-color: rgba(0, 123, 255, 0.15);
}


@media (max-width: 767px) {

  .shopping-cart { padding: 15px; }

  .cart-product__title {
    width: 250px;
    display: inline-block;
    text-align: left;
  }

  .product-info_row {
    width: 340px;
}

}
