.toast-message:not(.show) {
  z-index: -5;
}

.toast-message {
  position: fixed;
  z-index: 100;
  display: block;
  opacity: 1;
  bottom: 0;
  right: 15px;
}

.toast_info {
  background-color: dodgerblue;
  color: white;
}

.toast_success {
  background-color: greenyellow;
  color: white;
}

.toast_error {
  background-color: crimson;
  color: white;
}
