.slider {
  padding: 15px 30px;
  background-color: white;
  margin-top: 25px;
}

.slider__header {
  margin-top: 10px;
  padding: 10px 0;
  margin-bottom: 20px;
  background-color: whitesmoke;
  border: 2px solid white;
  outline: 2px solid whitesmoke;
  display: flex;
  align-items: center;
}

.slider__title {
  font-size: 18px;
  padding: 0 15px;
  border-right: 1px solid #6c757d;
  display: inline-block;
}

.slider__description {
  font-size: 12px;
  padding: 0 15px;
  font-style: italic;
  color: #6c757d;
}


@media (max-width: 767px) {

  .slider {
    padding: 10px 15px;
    margin-top: 15px;
}

}

@media (max-width: 420px) {
  
  .slider__header {
    flex-direction: column;
    text-align: center;
  }

  .slider__title {
    border: none;
    margin-bottom: 5px;
  }

}
