.loading-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  color: white;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  font-size: 18px;
}