.header__info {
  display: flex;
  align-items: center;
  padding: 5px 0;
  min-width: 225px;
}

.brand__logo {
  max-width: 46px;
  max-height: 46px;
}

.brand__text {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.brand__description {
  font-size: 80%;
  font-weight: 400;
  margin-top: -5px;
  letter-spacing: -0.5px;
  color: grey;
}

.brand__name {
  font-size: 20px;
  font-weight: 600;
}

.slogan {
  font-size: 12px;
  color: rgba(0,0,0,.5);
  margin: 0;
}


@media (max-width: 767px) {

.header__info {
  min-width: auto;
}

.brand__name {
  margin-bottom: 5px;
}

}
