.catalog__tools {
  padding: 0 40px 0 10px;
}

.product-catalog__tools {
  padding: 0 10px;
  text-align: right;
}

.btn_sort {
  margin-right: 7px;
  font-size: 12px;
  background-color: white;
  padding: 5px 10px;
  border: 1px solid lightgray;
  border-radius: 0;
}

.btn_sort:hover {
  color: #828384;
  background-color: #d0e7ff;
  border-color: #dae0e5;
}

.btn_sort:not(:disabled):not(.disabled).active, 
.btn_sort.dropdown-toggle {
  color: #ffffff;
  background-color: #2971f5;
  border-color: #ffffff;
  box-shadow: 0 0 0 0.1rem rgba(41, 113, 245, 0.5);
}

#sort_method {
  font-size: 12px;
  display: inline-block;
  width: auto;
}


@media (max-width: 767px) {

  .product-catalog__tools { 
    margin-top: 15px;
    padding: 0;
    text-align: left;
  }

}


@media (max-width: 420px) {
  
  #sort_method {
    max-width: 145px;
    letter-spacing: -0.5px;
    padding: 5px;
    height: auto;
}

}
